OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
TAVILY_API_KEY= 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
DOCS_PATH=data/pdfs
CHROMA_DIR=storage/chroma
SQLITE_PATH=storage/memory/chat_history.db
TODO_PATH=storage/memory/todo.json
API_BASE_URL=http://localhost:8000
APP_RUNTIME_MODE=auto
TOP_K=4
RAG_SCORE_THRESHOLD=0.2
